
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.error-toast {
  --mdc-snackbar-container-color: #e57373; 
  --mdc-snackbar-supporting-text-color: #ffffff; 
  --mat-snack-bar-button-color: #ffebee; 
  --mdc-snackbar-label-text-color: #ffffff; 
}

.mat-mdc-snack-bar-container.success-toast {
  --mdc-snackbar-container-color: #7b68ee;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #f5f5ff;
  --mdc-snackbar-label-text-color: #ffffff;
}
