<div class="grade-history-container">
  <h2>Grade History</h2>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Grade</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of history(); let i = index" (click)="onGradeClick(i)">
          <td class="student">{{ h.student }}</td>
          <td class="subject">{{ h.subject }}</td>
          <td>{{ h.value }}</td>
          <td>{{ h.date | date: 'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
