<div class="add-grade-container">
  <h2>Add Grade</h2>

  <form (ngSubmit)="addGrade()">
    <div class="form-group">
      <select class="select" [(ngModel)]="newGrade.subjectId" name="subject" required>
        <option [ngValue]="null" disabled>-- Select Subject --</option>
        <option *ngFor="let subj of subjects" [ngValue]="subj.id">
          {{ subj.name }}
        </option>
      </select>
  
      <select class="select" [(ngModel)]="newGrade.studentId" name="student" required>
        <option [ngValue]="null" disabled>-- Select Student --</option>
        <option *ngFor="let stud of students" [ngValue]="stud.id">
          {{ stud.firstName }} {{ stud.lastName }}
        </option>
      </select>
  
      <input
        type="number"
        placeholder="Grade (1-10)"
        [(ngModel)]="newGrade.value"
        name="value"
        min="1"
        max="10"
        required
      />
    </div>

    <button type="submit" [disabled]="!newGrade.studentId || !newGrade.subjectId">Add</button>
  </form>

  <div class="grades-preview" *ngIf="grades.length > 0">
    <h3>Recently Added Grades</h3>
    <ul>
      <li *ngFor="let g of grades">
        {{ g.studentName }} - {{ g.subjectName }}: {{ g.value }}
      </li>
    </ul>
  </div>
</div>
