<div class="dashboard-container">
  <profile-toolbar></profile-toolbar>

  <h1>Professor Dashboard</h1>

  <div class="nav-buttons">
    <button (click)="setView('add')" [class.active]="currentView === 'add'">
      Add Grade
    </button>
    <button (click)="setView('list')" [class.active]="currentView === 'list'">
      Grades List
    </button>
    <button
      (click)="setView('history')"
      [class.active]="currentView === 'history'"
    >
      Grades History
    </button>
    <button (click)="setView('bulk')" [class.active]="currentView === 'bulk'">
      Bulk Upload Grades
    </button>
  </div>

  <div class="view-container">
    <app-add-grade *ngIf="currentView === 'add'"></app-add-grade>
    <app-student-grades-list
      *ngIf="currentView === 'list'"
    ></app-student-grades-list>
    <ng-container *ngIf="currentView === 'history'">
      <div
        class="history-grade-display"
        [ngClass]="{ horizontal: selectedGradeIndex !== null }"
      >
        <app-grade-history
          class="grade-history-box"
          [history]="history"
          (gradeClick)="selectGrade($event)"
        ></app-grade-history>

        <div class="grade-details-box" *ngIf="selectedGradeIndex !== null">
          <teacher-grade-item
            [grade]="history[selectedGradeIndex!]"
            (edit)="onEditGrade()"
            (delete)="onDeleteGrade()"
          ></teacher-grade-item>
        </div>
      </div>
    </ng-container>

    <app-bulk-upload *ngIf="currentView === 'bulk'"></app-bulk-upload>
  </div>
</div>

<app-edit-grade-dialog
  *ngIf="showEditDialog && selectedGradeIndex !== null"
  [grade]="grades[selectedGradeIndex!]"
  (close)="onCloseEditDialog()"
  (save)="onSaveEdit($event)"
></app-edit-grade-dialog>
