.student-dashboard {
  max-width: 90vh;
  margin: 0 auto;
  padding: 2rem;

  h1 {
    text-align: center;
    color: #6a5acd;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 2rem;
    text-align: center;
    color: #7b68ee;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    li {
      button {
        padding: 0.75rem 1.2rem;
        background: #e6e6fa;
        color: #6a5acd;
        border: none;
        border-radius: 1vh;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: #7b68ee;
          color: white;
        }
      }
    }
  }

  button {
    margin: 1rem auto;
    display: block;
    background: #6a5acd;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.2vh;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #7b68ee;
    }
  }
}

.logout-button {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-weight: bold;
}
