<div class="dashboard-container">  
  <profile-toolbar></profile-toolbar>

  <h1>Student Dashboard</h1>

  <div class="nav-buttons">
    <button
      (click)="setView('overview')"
      [class.active]="currentView === 'overview'"
    >
      Overview
    </button>
    <button
      (click)="setView('allGrades')"
      [class.active]="currentView === 'allGrades'"
      [disabled]="grades.length === 0"
    >
      All grades
    </button>

    <button
      (click)="setView('gradesPerSubject')"
      [class.active]="currentView === 'gradesPerSubject'"
      [disabled]="grades.length === 0"
    >
      Grades Per Subject
    </button>
  </div>

  <div class="view-container">
    <ng-container *ngIf="currentView === 'overview'">
      <div class="overview-container">
        <app-average class="average-grade" [grades]="grades"></app-average>
        <app-grade-list
          class="grades-list"
          [grades]="recentGrades"
          title="Recent Grades"
        ></app-grade-list>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'allGrades'">
      <div
        class="all-grades-container"
        [ngClass]="{ horizontal: selectedGradeIndex !== null }"
      >
        <app-grade-list
          class="grades-list"
          [grades]="grades"
          (gradeClick)="selectGrade($event)"
        ></app-grade-list>

        <div class="grade-details" *ngIf="selectedGradeIndex !== null">
          <student-grade-item [grade]="grades[selectedGradeIndex]"></student-grade-item>

          <button (click)="clearSelection()" class="clear-button">
            Hide Details
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'gradesPerSubject'">
      <div class="overview-container">
        <label for="subjectSelect" class="selectSubjectLabel"
          >Select Subject:</label
        >
        <select id="subjectSelect" [(ngModel)]="selectedSubject">
          <option [ngValue]="null" disabled>-- Select one --</option>
          <option *ngFor="let subj of subjects" [value]="subj">
            {{ subj }}
          </option>
        </select>

        <app-average [grades]="getGradesForSelectedSubject()"></app-average>

        <app-grade-list
          class="grades-list"
          [grades]="getGradesForSelectedSubject()"
          title="Grades for {{ selectedSubject }}"
        ></app-grade-list>
      </div>
    </ng-container>
  </div>
</div>
