.average-box {
    background: #87cefa;
    color: #fff;
    padding: 1rem 2rem;
    margin: 2rem auto;
    text-align: center;
    border-radius: 2vh;
    font-size: 1.5rem;
    max-width: 40vh;
    box-shadow: 0 0.4vh 1.2vh rgba(106, 90, 205, 0.15);
  
    h2 {
      margin-bottom: 0.5rem;
    }
  
    p {
      font-weight: bold;
    }
  }
  